@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    background: rgb(230, 224, 224);
}

* {
    font-family: 'Raleway';
}

p {
    display: inline;
}

#header {
    height: 280px;
    width: 100%;
    padding-top: 50px;
    margin: 0px aut0;
    background-color: azure;
}

#pagetitle {
    height: 70px;
    width: 550px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 65px;
}

#tagline {
    height: 50px;
    width: 300px;
    margin-top: 5px;
    margin-left: 100px;
    font-size: 18px;
}

#buttonbox {
    height: 60px;
    width: 450px;
    margin-top: 30px;
    margin-left: 100px;
}

#continue {
    height: 40px;
    width: 300px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(207, 63, 94);
    color: black;
    text-align: center;
    font-size: 20px;
}

#arrow {
    height: 40px;
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
    font-size: 40px;
}

#footer {
    height: 340px;
    width: 100%;
    margin: 0px auto;
    background-color: rgba(40, 150, 150, 0.904);
}

#col {
    height: 320px;
    width: 225px;
    padding: 10px;
    margin-left: 2px;
    float: left;
}

#separator {
    width: 2px;
    height: 180px;
    margin-top: 100px;
    background-color: azure;
    float: left;
}

#title {
    height: 25px;
    width: 160px;
    padding: 10px;
    padding-top: 15px;
    margin: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#info {
    height: 150px;
    width: 150px;
    margin: 20px;
    margin-top: 35px;
    padding: 15px;
    color: azure;
    text-align: center;
}

#topbar {
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    background-color: lightgray;
}


/* Dropdown Button */

.dropbtn {
    color: black;
    background-color: lightgray;
    padding: 2px;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: gray;
}

#viewer {
    height: 577px;
    width: 962px;
    margin: 10px;
    margin-left: 0px;
    background-color: black;
    border-radius: 3px;
    border-width: 2px;
    display: block;
    float: left;
}

#sidebar {
    height: 605px;
    width: 253px;
    background-color: lightgray;
    border: 1px solid gray;
    display: block;
    float: left;
}

#stats {
    height: 90px;
    width: 233px;
    padding: 10px;
    border-bottom: 1px solid gray;
    margin-top: 0px;
}

#statsbutton {
    height: 35px;
    width: 130px;
    padding: 5px;
    margin-top: 26px;
    margin-left: 50px;
    border-radius: 25px;
    background-color: rgb(207, 63, 94);
    color: azure;
    text-align: center;
    font-size: 12px;
}

#statistics {
    height: 280px;
    padding: 10px;
    width: 400px;
    text-align: center;
    margin-top: 100px;
    ;
    margin-left: 260px;
    border-radius: 25px;
    background-color: azure;
    color: black;
    border-width: 3px;
    border-color: rgba(40, 150, 150, 0.904);
}

#filloptions {
    height: 110px;
    width: 233px;
    padding: 10px;
    border-bottom: 1px solid gray;
    margin-top: 0px;
}

.fillbutton {
    height: 30px;
    width: 130px;
    padding: 5px;
    margin-top: 17px;
    margin-left: 50px;
    border-radius: 25px;
    background-color: rgba(40, 150, 150, 0.904);
    color: azure;
    text-align: center;
    font-size: 10px;
}

#foot {
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    background-color: rgba(40, 150, 150, 0.904);
    float: left;
}

.view {
    width: 250px;
    background-color: rgb(156, 147, 147);
    border-radius: 2px;
    margin-left: 2px;
    height: 30px;
}

#adjustments {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

#tools {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    font-size: 10px;
    color: azure;
    background-color: rgba(40, 150, 150, 0.904);
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content-tools {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 40px;
    min-height: 40px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content-tools a {
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content-tools a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content-tools {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: gray;
}

.tools-dropdown {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 150px;
    display: inline;
    height: 10px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 10px;
    /* Set a specific slider handle width */
    height: 10px;
    /* Slider handle height */
    background: rgba(40, 150, 150, 0.904);
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px;
    /* Set a specific slider handle width */
    height: 10px;
    /* Slider handle height */
    background: rgba(40, 150, 150, 0.904);
    cursor: pointer;
    /* Cursor on hover */
}

#shading-button {
    width: 63px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(40, 150, 150, 0.904);
    display: inline;
    border-radius: 2px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}